<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="topic">
      <p><%= notice %></p>
      <h2>ユーザー一覧</h2>
      <% @users_without_me.each do |user| %>

      <div class="row">
        <% if user.id != current_user.id %>
        <li class="userbox"><%= profile_img(user) %></li>
        <li class="userbox"><%= user.name %></li>
        <li class="userbox"><%= user.email %></li>
        <li class="userbox"><%= render partial: 'follow_form', locals: { user: user } if signed_in? %></li>
        <div class="item">
          <li class="userbox"><%= link_to 'メッセージ送信', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-fb' %></li>
        </div>

      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
