<p id="notice"><%= notice %></p>
<!--eachメソッド each doを使用しuserをユーザ名表示にさせる-->
<% @submit_requests.each do |submit_request| %>
<h1><%= submit_request.user.name %>さんの依頼一覧</h1>
<table>
  <thead>
    <div = "row">
      <div class="task col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 table-responsive">
        <table class="table table-hover">

          <tr>
            <th>仕事人</th>
            <th>タイトル</th>
            <th>メッセージ</th>
            <th>依頼人</th>
            <th>進捗度</th>
            <th colspan="3"></th>
          </tr>

        </thead>

        <tbody>

          <tr>
            <td><%= submit_request.user.name %></td>
            <td><%= submit_request.task.title %></td>
            <td><%= submit_request.message %></td>
            <td><%= submit_request.request_user_id %></td>
            <td><%= submit_request.status %></td>
            <td><%= link_to '詳細', submit_request %></td>
            <!--依頼を承認 "submit_request"=>{"status"=>"2"}というparamsを送信する-->
            <td><%= link_to '承認する', approve_submit_request_path(submit_request, submit_request: {status: 2}), method: :patch, data: { confirm: '承認しますか?' } %></td>
            <!--依頼を却下 "submit_request"=>{"status"=>"9"}というparamsを送信する-->
            <td><%= link_to '却下する', reject_submit_request_path(submit_request, submit_request: {status: 9}), method: :patch, data: { confirm: '却下しますか?' } %></td>
          </tr>

          <% end %>

        </tbody>

      </table>

      <br>

      <%= link_to '依頼を送る', new_submit_request_path %>
