<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div style="text-align:center;">
      <%= link_to image_tag("fakebook_logo.png", size: "280x75"), root_path %>
    </div>
    <div class="nav_item">
      <% if user_signed_in? %>
      <%= link_to 'ユーザ一覧', users_path if user_signed_in? %>  |
      <%= link_to 'マイページ', edit_user_registration_path %>  |
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </br>
</header>

  <%= yield %>

</body>
</html>
